---
// FooterHero.astro
---

<section
  class="w-full min-h-[60vh] flex items-center justify-center py-16 px-4 bg-gradient-to-b from-white to-blue-100"
>
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-5xl font-medium leading-tight mb-6">
      Start generating efortless
      <span class="text-primary">SEO optimized blog posts</span> today
    </h2>
    <p class="text-base md:text-lg text-gray-800 max-w-3xl mx-auto mb-10">
      miseo AI is your personal AI SEO assistant that will help you boost your website's SEO.
    </p>

    <div class="flex items-center justify-center">
      <a href="#" class="cta-primary">Start generating blog posts today</a>
    </div>
  </div>
</section>
