---
type SocialProofPeopleImage = {
  src: string
  alt: string
}
// import { Image } from 'astro:assets'
import Image from '~/components/common/Image.astro'

export interface Props {
  id?: string
  images?: SocialProofPeopleImage[]
  content?: string
}

const {
  id,
  images = null,
  content = await Astro.slots.render('content')
} = Astro.props
---

<div
  class='mx-auto mt-8 max-w-xs md:flex md:max-w-lg md:flex-col md:items-center md:justify-center md:space-y-4 lg:mt-12'
  {...id ? { id } : {}}
>
  <div class='flex shrink-0 justify-center -space-x-3 overflow-hidden p-1'>
    {
      images &&
        images.map((image) => (
          <Image
            alt={image.alt}
            src={image.src}
            class='inline-block h-10 w-10 rounded-full ring-2 ring-gray-100'
          />
        ))
    }
  </div>

  <div>
    {content && <Fragment set:html={content} />}
  </div>
</div>
