---
import { Icon } from 'astro-icon/components';
import SignupForm from '~/components/forms/SignupForm';
import Hero from '~/components/widgets/Hero.astro';
import PageLayout from '~/layouts/PageLayout.astro';

const seatsAvailable = 50;
---

<PageLayout>
  <Hero title="postifyAI is free to use!">
    <Fragment slot="subtitle">
      postifyAI is open-sourced 🎉, so you can start using it for free <a
        class="underline"
        target="_blank"
        href="https://github.com/dontic/postifyai/">here</a
      >.
    </Fragment>

    <Fragment slot="content">
      <div class="m-8 text-gray-600 text-xl">
        <hr class="mx-20 my-10 border-t border-gray-200 dark:border-gray-700" />

        <!-- postifyAI cloud logo -->
        <div class="w-full flex items-center justify-center">
          <Icon name="logos/logo" class="text-6xl" /><a
            class="text-6xl font-semibold tracking-widest text-gray-500 ml-5"
          >
            CLOUD</a
          >
        </div>

        <br />
        If you don't want to deal with the technical details of deploying postifyAI...
        <br /><br />
        You can sign up for our hosted version, postifyAI cloud.

        <br /><br />

        <span class="font-bold"
          >The first 100 users to sign up will get a lifetime price of $5 per article FOR LIFE!</span
        >

        <br />
      </div>

      <Fragment>
        <br />
        <span class="text-lg text-gray-500">
          There are{' '}
          <span id="seats-remaining" class="font-semibold">
            {seatsAvailable}
          </span>{' '}
          seats remaining! 🚀
        </span>
      </Fragment>

      <SignupForm client:idle />

      <div class="mt-0">
        <a class="text-md text-muted"
          >If you are interested in being a beta tester, please <a href="/contact/" class="text-blue-600">
            send us a message</a
          >.</a
        >
      </div>
    </Fragment>
  </Hero>

  <script>
    function updateSeatsRemaining() {
      fetch('/api/seats-remaining/')
        .then((response) => response.json())
        .then((data) => {
          const seatsRemainingElement = document.getElementById('seats-remaining');
          if (seatsRemainingElement) {
            seatsRemainingElement.textContent = data.seatsRemaining.toString() + ' ';
          }
        })
        .catch((error) => console.error('Error fetching seats remaining:', error));
    }

    // Run the update function when the page loads
    document.addEventListener('astro:page-load', updateSeatsRemaining);
  </script>
</PageLayout>
